<ion-content>
  <ion-card *ngFor="let pokemon of displayedPokemonList">
    <ion-card-header>
      <ion-card-title>{{ pokemon.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Experiencia: {{ pokemon.experience }}</p>
      <p>Altura: {{ pokemon.height }}</p>
      <p>Peso: {{ pokemon.weight }}</p>
      <p>Habilidades:</p>
      <ion-list>
        <ion-item *ngFor="let ability of pokemon.abilities" lines="none">
          {{ ability.ability.name }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- IonRefresher para la actualización con deslizamiento -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" #refresher>
    <ion-refresher-content pullingIcon="arrow-down-outline" pullingText="Desliza para actualizar"></ion-refresher-content>
  </ion-refresher>

  <ion-infinite-scroll (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>